input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color;
  background-color: transparent;
  -webkit-text-fill-color: #000;
}

.input-override {
  border-bottom: none;

  div {
    // input border bottom style overriding
    &:before,
    &:after {
      border-bottom: none;
    }

    &:hover:before {
      border-bottom: none !important;
    }
  }
}
