$light-grey: #AEAEAE;
$light-cyan: #4DD0E1;
$dark-blue: #0277BD;
$photo-upload-panel: #5cb85c;
$body-background: #FAFAFA;

.light-grey { color: $light-grey };
.btn-upload.bg-green { background-color: $photo-upload-panel; }
.btn-upload.bg-green:hover  { background-color: $photo-upload-panel; opacity: 0.7; }




