.user-image {
  width: 33.3%;
  height: 300px;
  box-sizing: border-box;
  padding: 10px;

  .photo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .photo-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    cursor: pointer;
    
    .post-info{
      font-style: normal;
      margin-right: 20px;
      margin-left: 5px;
    }
    em:last-child {
      margin-right: 0;
    }
    em:first-child {
      margin-left: 0;
    }

  }

  

  .photo-info:hover{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }

}
