.modal-change-password{
  position: relative;
  top: 15%;
  left: 25%;
  width: 50%;
  background: white;
  .form-modal{
    margin-left: 25px;
    margin-right: 25px;
  }
  .mar-top{
    margin-top: 25px
  }
  .save-cancel-btn{
    width: 85px;
    height: 20px;
  }
  .mar-top-btn{
    margin-top: 15px;
    padding-bottom: 15px;
  }
  .err-msg{
    margin: 0;
    text-align: center;
    color: #f34b4b;
    height: 20px;
  }
  .msg{
    margin: 0;
    text-align: center;
    color: limegreen;
    height: 20px;
  }
}
